.burger-menu {
    position: relative;
  }
  
  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    cursor: pointer;
  }
  
  .bar {
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .menu-items {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 8px;
    background-color: white;
    border: 1px solid #ccc;
    display: none;
    z-index: 1000;
  }
  
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(224, 127, 0, 0.5);
    z-index: 999;
  }
  
  .burger-menu.open .menu-items {
    display: flex;
    background-color: rgba(116, 27, 27, 0.548);
    border: 1px solid rgba(116, 27, 27, 0.548);
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;


    li{
        a{
           color: white;
    text-decoration: none;
    font-size: 25px;  
        }
        
    }
   
    list-style: none;
  }
  
  .burger-menu.open .menu-overlay {
    display: block;
  }
  