@import "../../../variables";
header {
  padding-top: 66px;

  .headercontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .linkline {
    display: flex;
    flex-direction: row;

    nav {
      display: flex;
      flex-direction: row;
      gap: 64px;

      .nav-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: $firstfontcolor;
        text-decoration: none;
      }
    }
  }

  .line {
    border: 1px solid $fourthfontcolor;
    transform: rotate(180deg);
    margin-left: 48px;
    margin-right: 48px;
  }

  .logo {
    width: 158px;
  }

  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 39px;

    button {
      width: 20px;
      border: none;
      background-color: transparent;
    }
    .account {
      display: flex;
    }
  }

  .buttons {
    display: none;

    .mobile-only {
      display: none;
    }
  }

  .input-group {
    display: none;

    .mobile-only {
      display: none;
    }
  }

  .burgerMenuClosed {
    display: none;
  }
}

@media (max-width: 375px) {
  header {
    margin-top: 15px;
    padding-top: 0;
    margin-bottom: 0;

    .headercontainer {
      .logo {
        width: 99px;
        height: 36px;
      }

      .linkline {
        display: none;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 17px;

        .mobile-only {
          display: block;
          background-color: transparent;
          border: none;
        }
      }
      .burgerMenuVisible {
        display: block;
        position: absolute;
        background-color: white;
        font-size: 12px;
        nav {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          font-weight: 400;
          font-size: 12px;
          line-height: 27px;

          .nav-link {
            padding: 5px;
            text-decoration: none;
            color: $firstfontcolor;
          }
        }
      }
    }
    .input-group {
      display: flex;
      flex-direction: row;
      margin-top: 9px;
      width: 100%;
      height: 32px;
      gap: 8px;
      background: #efefef;
      border-radius: 4px;
      padding-left: 10px;

      .mobile-only {
        display: block;
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 14px;
        color: $fourthfontcolor;
        background-color: transparent;
      }
    }
  }
}
