
.hero-container {
  width: 100%;
  height: 646px;
  background: url("./assests/Img 01.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;

  .hero-section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 226px;
    padding-left: 44px;
    color: $thirdfontcolor;

    .about-section {
      padding-bottom: 16px;
      line-height: 43px;
      font-weight: 500;
      font-size: 33px;
    }

    .price {
      line-height: 35px;
      font-weight: 400;
      font-size: 26px;
      padding-top: 16px;
    }

    button {
      width: 193px;
      height: 53px;
      border: 2px solid $thirdfontcolor;
      border-radius: 6px;
      margin-top: 48px;
      font-weight: 700;
      font-size: 20px;
      background: transparent;
      color: $thirdfontcolor;
    }
  }

  .sliders {
    display: flex;
    flex-direction: row;
    padding-left: 570px;
    align-items: center;
    gap: 13.71px;
    padding-top: 170px;
  }

  button.ellipse-1 {
    width: 16px;
    height: 16px;
    border: 1px solid $thirdfontcolor;
    border-radius: 50%;
    background-color: transparent;
  }

  button.ellipse-2 {
    width: 9.14px;
    height: 9.14px;
    border-radius: 50%;
    border: 1px solid $thirdfontcolor;
    background-color: $thirdfontcolor;
  }
}
@media (max-width: 375px) {
    .hero-container {
      background: url("./assests/Img\ 01\ \(2\).png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 354px;
      margin-top: 16px;
  
      .hero-section {
        padding-left: 8px;
        padding-top: 235px;
  
        .about-section {
          font-size: 20px;
          line-height: 26px;
          padding-bottom: 3px;
          text-transform: capitalize;
        }
  
        .price {
          font-size: 14px;
          line-height: 22px;
          padding: 0;
        }
  
        button {
          width: 92px;
          height: 32px;
          border: 1px solid $thirdfontcolor;
          border-radius: 4px;
          font-weight: 400;
          font-size: 12px;
          margin-top: 10px;
        }
      }
  
      .sliders {
        gap: 6px;
        padding-top: 11px;
        padding-left: 121px;
  
        .ellipse-1 {
          width: 7px;
          height: 7px;
          border: 0.75px solid $thirdfontcolor;
        }
  
        .ellipse-2 {
          width: 4px;
          height: 4px;
        }
      }
  
      .input-group {
        display: flex;
        flex-direction: row;
        margin-top: 9px;
        width: 100%;
        height: 32px;
        gap: 8px;
        background: #efefef;
        border-radius: 4px;
        padding-left: 10px;
  
        .mobile-only {
          display: block;
          border: none;
          outline: none;
          font-weight: 400;
          font-size: 14px;
          color: $fourthfontcolor;
          background-color: transparent;
        }
      }
    }
}